body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 60px;
  background: #ffffff;
}

.main {
  height: 717px;
  background-image: url(img/clem-onojeghuo-107238.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.form {
  height: 660px;
  width: 400px;
  background: #fcfaf4;
  position: relative;
  top: 15px;
  left: 130px;
  display: flex;
  flex-direction: column;
}

.form__header {
  display: flex;
}

.form__container {
    padding: 20px 30px;
}

.form__header__credit1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6dadc;
  width: 175px;
  height: 40px;
}

.form__header__credit2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcfaf4;
  width: 225px;
  height: 40px;
}

.sum {
  display: flex;
  justify-content: space-between;
}

.sum__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sum__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 35px;
  border: 1px solid lightgray;
  background: #fafbfc;
}

.sum__controller {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.plusminus {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 100px;
  padding: 5px;
  width: 25px;
  height: 25px;
}
