body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 60px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  width: 1440px;
  align-items: center;
  margin: 0 auto;
}

.header_logo{
  margin: 0 130px;
  width: 110px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.nav__link {
  text-decoration: none;
  color: #717170;
  margin-right: 20px;
  height: 60px;
  display: flex;
  align-items: center;
}

.main {
  height: 716px;
  width: 1440px;
  margin: 0 auto;
  background-image: url(img/clem-onojeghuo-107238.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.form {
  height: 660px;
  width: 400px;
  background: #fcfaf4;
  position: relative;
  top: 15px;
  left: 130px;
  display: flex;
  flex-direction: column;
}

.form__header {
  display: flex;
}

.form__container {
  padding: 0px 30px;
}

.form__header__credit1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6dadc;
  width: 175px;
  height: 40px;
}

.form__header__credit2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcfaf4;
  width: 225px;
  height: 40px;
}

.sum {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sum__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sum__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 35px;
  border: 1px solid #d3d3d3;
  background: #fafbfc;
}

.sum__controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.plusminus {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  border-radius: 100px;
  padding: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #b3b3b3;
  background: #ffffff;
}

.termins {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total {
  border-top: 1px solid #d3d3d3;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
}

.total__text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.registation_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 60px;
  background: #f08700;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.triangle {
  width: 5px;
  height: 5px;
  border: 5px solid transparent;
  border-left: 5px solid #ffffff;
  position: relative;
  left: 110px;
}

.registation_text {
  margin-left: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
}

.info_item {
  margin-top: 15px;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 275px;
  height: 3px;
  background: #db1405;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 10px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 5px;
  height: 1px;
  background: #ffffff;
  cursor: pointer;
}

#profile {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  padding: 0 30px;
}

.lang {
  width: 16px;
  height: 12px;
  
}

.flagred {
  background: #9d3039;
  height: 4px;
  width: 16px;
}

.flagwhite {
  background: #ffffff;
  height: 4px;
  width: 16px;
}

.flagtriangle {
  width: 5px;
  height: 5px;
  border: 5px solid transparent;
  border-top: 5px solid #000000;
  margin-top: 7px; 
  margin-left: 5px;
}